# MySql with python

In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(host='localhost', user='root', password='*******')

mycursor = con.cursor()

mycursor.execute('SHOW DATABASES')

for i in mycursor:
    print(i)

('DBMS',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [3]:
mycursor.execute('USE DBMS')
mycursor.execute('DESC STUDENT')

for i in mycursor:
    print(i)

('ID', 'int', 'YES', '', None, '')
('Name', 'varchar(10)', 'YES', '', None, '')